/*--------------------RESET CSS--------------------*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Lexend:wght@400;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------/RESET CSS--------------------*/
/*--------------------VARS--------------------*/
/*--------------------/VARS--------------------*/
/*--------------------FONTS--------------------*/
/*--------------------/FONTS--------------------*/
/*--------------------BODY,CONTAINER--------------------*/
body {
  font-family: "Montserrat";
  background: #F9F9F9;
}
body.lock {
  overflow: hidden;
  position: fixed;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.btn {
  transition: all 0.3s;
}
.btn:hover {
  opacity: 0.8;
}

/*--------------------/BODY,CONTAINER--------------------*/
/*--------------------GLOBAL--------------------*/
/*--------------------/GLOBAL--------------------*/
/*--------------------HEADER--------------------*/
.header {
  background-color: #fff;
  position: fixed;
  right: 0;
  width: 75vw;
  z-index: 3;
}
.header-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .header {
    width: 100vw;
  }
}

.logo {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.menu {
  width: 100%;
}
@media (max-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.menu-icon {
  display: none;
}
@media (max-width: 768px) {
  .menu-icon {
    display: block;
    position: relative;
    z-index: 10 !important;
    cursor: pointer;
    height: 18px;
    width: 30px;
  }
  .menu-icon span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    background-color: #000;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .menu-icon span:first-child {
    top: 0;
  }
  .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu-icon.active span {
    transform: scale(0);
  }
  .menu-icon.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-icon.active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
  gap: 30px;
}
.menu-link {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
}
@media (max-width: 768px) {
  .menu-link {
    line-height: 70px;
    display: block;
    font-size: 33px;
  }
}
.menu-user {
  display: flex;
  align-items: center;
  gap: 15px;
}
.menu-username {
  font-weight: bold;
  font-size: 16px;
}
.menu-userpic img {
  border-radius: 50%;
}

/*--------------------/HEADER--------------------*/
/*--------------------MAIN--------------------*/
.tab {
  position: absolute;
  top: 0;
  right: 0;
  width: 75vw;
  height: 100%;
  padding: 40px;
  padding-top: 120px;
}
@media (max-width: 768px) {
  .tab {
    width: 100vw;
    text-align: center;
  }
}
.tab.hidden {
  display: none;
}

.task {
  position: absolute;
  z-index: 100;
  overflow: auto;
  left: 0;
  right: 0;
  top: -50px;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 420px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  color: #000;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  box-shadow: 0px 5px 10px 9px rgba(34, 60, 80, 0.2);
}
.task.active {
  visibility: visible;
  opacity: 1;
  top: 0;
  pointer-events: all;
}
@media (max-width: 500px) {
  .task {
    width: 340px;
  }
}
@media (max-height: 480px) {
  .task {
    height: 100vh;
  }
}
.task-exit {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  right: 20px;
}
.task-exit span {
  display: block;
  width: 30px;
  height: 3px;
  transform: rotate(45deg);
  background-color: #000;
  position: absolute;
}
.task-exit span:last-child {
  transform: rotate(-45deg);
}
.task-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.task-title {
  font-weight: 600;
  font-size: 22px;
}
.task-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task-input input {
  border: 1px solid #b9b8b8;
  padding: 10px;
  border-radius: 5px;
}
.task-submit {
  background-color: #DE9DAC;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 0;
  transition: all 0.3s;
}
.task-submit:hover {
  background: #000;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 25vw;
  background-color: #fff;
  z-index: 4 !important;
  padding: 20px;
  padding-top: 40px;
  transition: all 0.3s;
  /* .sidebar-content */
  /* .sidebar-list */
  /* .sidebar-item */
}
@media (max-width: 768px) {
  .sidebar {
    z-index: 0;
    width: 100vw;
    position: absolute;
    margin: auto;
    top: 0;
    left: -150%;
  }
  .sidebar.active {
    left: 0;
  }
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
@media (max-width: 768px) {
  .sidebar-container {
    padding-top: 20vh;
  }
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 12px;
  padding: 15px 25px 15px 25px;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .sidebar-item {
    padding: 25px 35px 25px 35px;
    font-size: 30px;
  }
}
.sidebar-item-text {
  font-size: 18px;
}
.sidebar-item.active {
  background-color: #DE9DAC;
  color: #fff;
  font-weight: bold;
  font-size: 120%;
  box-shadow: 2px 12px 73px -18px rgba(222, 157, 172, 0.85);
}

.logo {
  /* .logo-text */
}
.logo-text {
  font-size: 40px;
  font-weight: 900;
  color: #000;
}
.logo-text span {
  color: #DE9DAC;
}

.todo {
  /* .todo-title */
  /* .todo-content */
  /* .todo-topline */
  /* .todo-list */
  /* .todo-item */
}
.todo-title {
  font-weight: bold;
  font-size: 60px;
}
.todo-content {
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-shadow: 2px 12px 73px -18px rgba(179, 179, 179, 0.85);
}
.todo-topline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 930px) {
  .todo-topline {
    flex-direction: column;
    gap: 30px;
  }
}
.todo-topline-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.todo-topline-add {
  padding: 15px 25px 15px 25px;
  font-weight: bold;
  font-size: 30px;
  background-color: #DE9DAC;
  border-radius: 12px;
  color: #fff;
}
.todo-topline-text {
  font-size: 28px;
}
.todo-topline-dropdown {
  padding: 20px 25px 20px 25px;
  background-color: #DE9DAC;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  position: relative;
}
.todo-topline-dropdown-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  transition: transform 0.3s ease-in-out;
}
.todo-topline-dropdown-head {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 20px;
  background-color: #DE9DAC;
  border-radius: 12px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.todo-topline-dropdown-content {
  position: absolute;
  top: 105%;
  left: 0;
  background-color: #DE9DAC;
  border-radius: 7px;
  box-shadow: 0 0 5px 1px #888686;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
}
.todo-topline-dropdown-content.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transform: translateY(5px);
}
.todo-topline-dropdown-item {
  padding: 10px 25px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.todo-topline-dropdown-item:hover {
  opacity: 0.8;
}
.todo-list {
  display: flex;
  flex-direction: column;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #aaa8a8;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 930px) {
  .todo-item {
    flex-direction: column;
    gap: 20px;
  }
}
.todo-item:first-child {
  border-top: none;
}
.todo-item-title {
  font-size: clamp(1.625rem, 0.852rem + 3.86vw, 3.75rem);
}
.todo-item-subtitle {
  font-size: 20px;
}
.todo-item-status {
  border-radius: 100%;
  width: 14px;
  height: 14px;
  background-color: #DE9DAC;
}
.todo-item-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.todo-item-upper {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 930px) {
  .todo-item-upper {
    margin: auto;
  }
}
@media (max-width: 480px) {
  .todo-item-upper {
    gap: 6px;
  }
}
@media (max-width: 930px) {
  .todo-item-bottom {
    text-align: center;
  }
}
.todo-item-right {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px 25px 20px 25px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #DE9DAC;
  border-radius: 14px;
}
.todo-item-right img {
  max-width: 30px;
  height: auto;
}
.todo-container {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.current-container {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.current-task {
  position: absolute;
  right: 0;
  left: 0;
  top: 30%;
  margin: auto;
  height: 400px;
  width: 400px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 12px 73px -18px rgba(179, 179, 179, 0.85);
}
@media (max-width: 480px) {
  .current-task {
    width: 85vw;
  }
}
.current-task span {
  font-size: 50px;
  font-weight: bold;
  color: #DE9DAC;
}
.current-task button {
  display: block;
  padding: 25px 25px 25px 25px;
  border-radius: 14px;
  font-size: 18px;
  font-weight: bold;
  background-color: #DE9DAC;
  color: #fff;
}
.current-task p {
  font-size: 28px;
}
.current-heading {
  font-size: 36px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.current-descr {
  font-size: 24px;
  font-weight: 400;
}

.stats {
  /* .stats-container */
  /* .stats-column */
  /* .stats-item */
  /* .stats-list */
}
.stats-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.stats-img img {
  max-width: 80%;
  height: auto;
}
.stats-img-cnt {
  width: 100%;
  display: flex;
  align-items: center;
  height: clamp(3.75rem, 1.023rem + 13.64vw, 11.25rem);
}
.stats-img-cnt.general-stats {
  height: 30px;
  width: 250px;
}
.stats-img-right {
  height: 100%;
  width: 35%;
  background-color: #DE9DAC;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  font-size: 25px;
}
.stats-img-left {
  height: 100%;
  width: 65%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #FFD1DC;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  font-size: 25px;
}
.stats-title {
  font-weight: bold;
  font-size: 60px;
}
.stats-content {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1320px) {
  .stats-content {
    flex-direction: column;
    gap: 50px;
  }
}
.stats-column {
  flex: 0 1 48%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.stats-column-title {
  font-size: 28px;
}
@media (max-width: 1320px) {
  .stats-column {
    flex: auto;
    gap: 50px;
  }
}
.stats-item {
  padding: 25px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: clamp(1.875rem, 1.42rem + 2.27vw, 3.125rem);
  box-shadow: 2px 12px 73px -18px rgba(179, 179, 179, 0.85);
  transition: all 0.3s;
}
.stats-item:hover {
  scale: 1.1;
}
.stats-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.stats-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 480px) {
  .stats-list-item {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.stats-list-item-title {
  font-weight: bold;
  font-size: clamp(1.375rem, 1.193rem + 0.91vw, 1.875rem);
}
.stats-list-item-data {
  display: flex;
  align-items: center;
  gap: 15px;
}
.stats-list-item-data-text {
  font-size: clamp(1.125rem, 1.034rem + 0.45vw, 1.375rem);
}
.stats-list-item-data-img {
  padding: 15px;
  border-radius: 12px;
  z-index: 1;
  position: relative;
  display: inline-block;
}
.stats-list-item-data-img img {
  z-index: 2;
  max-width: clamp(1.563rem, 1.222rem + 1.7vw, 2.5rem);
  min-height: clamp(1.563rem, 1.222rem + 1.7vw, 2.5rem);
}
.stats-list-item-data-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #DE9DAC;
  opacity: 0.3;
  border-radius: 12px;
}

.profile {
  /* .profile-container */
  /* .profile-title */
  /* .profile-content */
  /* .profile-user */
}
.profile-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.profile-currencies {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 520px) {
  .profile-currencies {
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
  }
}
.profile-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 520px) {
  .profile-title {
    align-items: center;
  }
}
.profile-title-text {
  font-weight: bold;
  font-size: 60px;
}
.profile-title-coins {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
  background-color: #e9e9e9;
  border-radius: 10px;
}
.profile-title-coins-icon img {
  max-width: 30px;
  height: auto;
}
.profile-title-coins-text {
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 480px) {
  .profile-title {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
.profile-charackter img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}
.profile-content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .profile-content {
    flex-direction: column;
    gap: 40px;
  }
}
.profile-block {
  flex: 0 1 48%;
  padding: 25px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-shadow: 2px 12px 73px -18px rgba(179, 179, 179, 0.85);
  transition: all 0.3s;
}
.profile-block:hover {
  scale: 1.1;
}
@media (max-width: 992px) {
  .profile-block {
    flex: 1 1 100%;
  }
}
.profile-block:last-child {
  gap: 40px;
}

.user {
  /* .user-title */
  /* .user-info */
  /* .user-image */
  /* .user-profilepic */
  /* .user-username */
  /* .user-data */
}
.user-title {
  font-size: 24px;
}
.user-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 768px) {
  .user-info {
    justify-content: center;
    align-items: center;
  }
}
.user-image {
  display: flex;
  align-items: center;
  gap: 30px;
}
.user-profilepic img {
  max-width: clamp(6.25rem, 5.114rem + 5.68vw, 9.375rem);
  height: auto;
}
.user-username {
  font-weight: bold;
  font-size: 30px;
}
.user-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.user-data span {
  font-weight: bold;
}

.general {
  /* .general-container */
  /* .general-title */
  /* .general-content */
  /* .general-row */
  /* .general-block */
}
.general-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.general-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 45px;
}
.general-title-text {
  font-size: 45px;
}
.general-title-date {
  font-size: 30px;
}
.general-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.general-row {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: clamp(0.938rem, 0.597rem + 1.7vw, 1.875rem);
}
@media (max-width: 992px) {
  .general-row {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }
}
.general-block {
  display: flex;
  justify-content: space-between;
  flex: 0 1 48%;
  padding: 25px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 12px 73px -18px rgba(179, 179, 179, 0.85);
  transition: all 0.3s;
}
.general-block#stats {
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 50px;
}
@media (max-width: 992px) {
  .general-block#stats {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 992px) {
  .general-block {
    justify-content: center;
    flex: 1 1 100%;
    gap: 30px;
  }
}
.general-block-title {
  font-size: 18px;
}
@media (max-width: 992px) {
  .general-block-title {
    text-align: center;
    font-size: 26px;
  }
}
.general-block-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
@media (max-width: 992px) {
  .general-block-content {
    justify-content: center;
    flex: 1 1 100%;
    gap: 40px;
  }
}
.general-block-content img {
  max-width: 80%;
  height: auto;
}
.general-block-content-time {
  font-size: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);
}
@media (max-width: 992px) {
  .general-block-content-time {
    font-size: 22px;
  }
}
.general-block-content-img {
  padding: 15px;
  border-radius: 12px;
  z-index: 1;
  position: relative;
  display: inline-block;
}
.general-block-content-img img {
  z-index: 2;
  max-width: clamp(1.563rem, 1.222rem + 1.7vw, 2.5rem);
  min-height: clamp(1.563rem, 1.222rem + 1.7vw, 2.5rem);
}
.general-block-content-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #DE9DAC;
  opacity: 0.3;
  border-radius: 12px;
}

/*--------------------/MAIN--------------------*/
/*--------------------FOOTER--------------------*/
/*--------------------/FOOTER--------------------*//*# sourceMappingURL=styles.css.map */