
/*--------------------RESET CSS--------------------*/

*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

/*--------------------/RESET CSS--------------------*/



/*--------------------VARS--------------------*/

$primary : #000;
$primaryLight:#fff;
$secondary:#DE9DAC;
$secondaryLight:#ffdd;

$break1200:1200px;
$break992:992px;
$break768:768px;
$break480:480px;

/*--------------------/VARS--------------------*/



/*--------------------FONTS--------------------*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Lexend:wght@400;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*--------------------/FONTS--------------------*/



/*--------------------BODY,CONTAINER--------------------*/

body{
	font-family: "Montserrat";
	&.lock{
		overflow: hidden;
		position: fixed;
	}
    background:#F9F9F9;
}
.container{
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 20px;
}

/*--------------------/BODY,CONTAINER--------------------*/



/*--------------------GLOBAL--------------------*/

// .text{

// }

// .title{

// }

/*--------------------/GLOBAL--------------------*/



/*--------------------HEADER--------------------*/

.header {

	background-color: #fff;
	position: fixed;
    right: 0;
	width: 75vw;
    z-index: 3;

	// .header-container

	&-container {
		display: flex;
		padding: 20px;
		justify-content: space-between;
		align-items: center;
		position: relative;	
	}

    @media(max-width: $break768)
    {
        width: 100vw;
    }

}

.logo {
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}
.menu {

    width: 100%;

    @media (max-width:$break768) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
	// .menu-icon

	&-icon {
		display: none;
		@media (max-width:$break768) {
			display: block;
			position: relative;
			z-index: 5;
			cursor: pointer;
			height: 18px;
			width: 30px;
			span{
				position: absolute;
				top: calc(50% - 1px);
				left: 0;
				width: 100%;
				background-color: $primary;
				height: 2px;
				transition: all 0.3s ease 0s;
				&:first-child{
					top:0;
				}
				&:last-child{
					top: auto;
					bottom: 0;
				}
			}
			&.active {
				span {
					transform: scale(0);
					&:first-child {
						transform: rotate(-45deg);
						top: calc(50% - 1px);
					}
					&:last-child {
						transform: rotate(45deg);
						bottom: calc(50% - 1px);
					}
				}
			}
		}
	}


	// .menu-list

	&-list {
		list-style: none;
		display: flex;
        align-items: center;
        width: 100%;
        justify-content: end;
		gap: 30px;
	}


	// .menu-link

	&-link {
		font-size: 26px;
		font-weight: bold;
		color: #fff;
		@media (max-width:$break768){
			line-height: 70px;
			display: block;
			font-size: 33px;
		}
	}

    &-notifications
    {

    }

    &-user
    {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &-username
    {
        font-weight: bold;
        font-size: 16px;
    }

    &-userpic
    {
        img{
            border-radius: 50%;
        }
    }
}

/*--------------------/HEADER--------------------*/



/*--------------------MAIN--------------------*/

.main {
    
}

.tab
{
    position: absolute;
    top: 0;
    right: 0;
    width: 75vw;
    height: 100%;
    padding: 40px;
    padding-top: 120px;
    // z-index: -1;

    @media(max-width:$break768)
    {
        width: 100vw;
        text-align: center;

    }
    &.hidden{
        display: none;
    }
}

.task
{
	position: absolute;
	z-index: 100;
	overflow: auto;
	left: 0;
	right: 0;
	top: -50px;
	bottom: 0;
	margin: auto;
	width: 400px;
	height: 420px;
	background-color: #fff;
	border-radius: 20px;
	padding: 20px;
	color: #000;
	visibility: hidden;
	opacity: 0;
	pointer-events:none;
	transition: all 0.3s;
	box-shadow: 0px 5px 10px 9px rgba(34, 60, 80, 0.2);
	&.active{
		visibility: visible;
		opacity: 1;
		top: 0;
		pointer-events: all;
	}
	@media (max-width:500px){
		width: 340px;
	}
	@media (max-height:480px){
		height: 100vh;
	}


	&-exit{
		position: absolute;
		width: 30px;
		height: 30px;
		top: 25px;
		right: 20px;
		span{
			display: block;
			width: 30px;
			height: 3px;
			transform: rotate(45deg);
			background-color: #000;
			position: absolute;
			&:last-child{
				transform: rotate(-45deg);
			}
		}
	}


	&-form {
		display:flex;
		flex-direction:column;
		gap: 20px;
	}


	&-title {
		font-weight: 600;
		font-size: 22px;
	}


	&-input {
		display:flex;
		flex-direction:column;
		gap: 10px;
		input{
			border: 1px solid #b9b8b8;
			padding: 10px;
			border-radius: 5px;
		}
	}


	&-submit {
		background-color: $secondary;
		border-radius: 10px;
		color: #fff;
		font-weight: 600;
		font-size: 16px;
		padding: 8px 0;
		transition: all 0.3s;
		&:hover{
			background: $primary;
		}
	}
    }

    .sidebar {

        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 25vw;
        background-color: #fff;
        z-index: 4;
        padding: 20px;
        padding-top: 40px;
        transition:  all 0.3s;

        @media(max-width:$break768)
        {
            z-index: 0;
            width: 100vw;
            position: absolute;
            margin: auto;
            top: 0;
            left: -150%;
            &.active
            {
                left: 0;
            }
        }

    /* .sidebar-content */

    &-content {

    }

    &-container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
        @media(max-width:$break768)
        {
           padding-top: 20vh;
        }
    }

    /* .sidebar-list */

    &-list {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 40px;
    }

    /* .sidebar-item */

    &-item {
        display: flex;
        align-items: center;
        gap: 15px;
        border-radius: 12px;
        padding: 15px 25px 15px 25px;

        @media(max-width:$break768)
        {
            padding: 25px 35px 25px 35px;
            font-size: 30px;
        }

        &-text
        {
            font-size: 18px;
        }

        &.active
        {
            background-color: $secondary;
            color: #fff;
            -webkit-box-shadow: 2px 12px 73px -18px rgba(222, 157, 172, 0.85);
            -moz-box-shadow: 2px 12px 73px -18px rgba(222, 157, 172, 0.85);
            box-shadow: 2px 12px 73px -18px rgba(222, 157, 172, 0.85);
        }

    }
}
    .logo {

        /* .logo-text */

        &-text {
            font-size: 40px;
            font-weight: 900;
            color: #000;
            span{
                color: $secondary;
            }
        }
}

.todo {
    /* .todo-title */
    
    &-title {
        font-weight: bold;
        font-size: 60px;
    }
    
    /* .todo-content */
    
    &-content {
        background-color: #fff;
        border-radius: 20px;
        width: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        -webkit-box-shadow: 2px 12px 73px -18px rgba(179, 179, 179, 0.85);
        -moz-box-shadow: 2px 12px 73px -18px rgba(179, 179, 179, 0.85);
        box-shadow: 2px 12px 73px -18px rgba(179, 179, 179, 0.85);
    }
    
    /* .todo-topline */
    
    &-topline {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width:930px)
        {
            flex-direction: column;
            gap: 30px;
        }

        &-buttons
        {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        &-add
        {
            padding: 15px 25px 15px 25px;
            font-weight: bold;
            font-size: 30px;
            background-color: $secondary;
            border-radius: 12px;
            color: $primaryLight;
        }

        &-text
        {
            font-size: 28px;
        }

        &-dropdown
        {
            padding: 20px 25px 20px 25px;
            background-color: #DE9DAC;
            border-radius: 12px;
            display: flex;
            align-items: center;
            gap: 15px;
            font-weight: bold;
            color: #fff;
            font-size: 20px;
            position: relative;
            &-arrow
            {
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #fff;
                transition: transform 0.3s ease-in-out;
            }
            &-head
            {
                display: flex;
                align-items: center;
                gap: 15px;
                padding: 0px 20px;
                background-color: #DE9DAC;
                border-radius: 12px;
                color: #fff;
                font-size: 20px;
                cursor: pointer;
            }
            &-content
            {
                position: absolute;
                top: 105%;
                left: 0;
                background-color: $secondary;
                border-radius: 7px;
                box-shadow: 0 0 5px 1px #888686;
                width: 100%;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transition: all 0.3s;
                z-index: 5;
                &.active{
                    visibility: visible;
                    opacity: 1;
                    pointer-events: all;
                    transform: translateY(5px);
                }
            }
            &-item
            {
                padding: 10px 25px;
                color: #fff;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
    
    /* .todo-list */
    
    &-list {
        display: flex;
        flex-direction: column;
    }
    
    /* .todo-item */
    
    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #aaa8a8;
        padding-top: 30px;
        padding-bottom: 30px;


        @media(max-width:930px)
        {
            flex-direction: column;
            gap: 20px;
        }
        &:first-child
        {
            border-top: none;
        }
        &-title
        {
            font-size: clamp(1.625rem, 0.852rem + 3.86vw, 3.75rem);
        }
        &-subtitle
        {
            font-size: 20px;
        }
        &-status{
            border-radius: 100%;
            width: 14px;
            height: 14px;
            background-color: #DE9DAC;
        }
        &-left
        {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
        &-upper
        {
            display: flex;
            align-items: center;
            gap: 15px;
            @media(max-width:930px)
            {
                margin: auto;
            }
            @media(max-width:$break480)
            {
                gap: 6px;
            }
        }
        &-bottom
        {
            @media(max-width:930px)
            {
                text-align: center;
            }
        }

        &-timer
        {
            font-size: 24px;
            font-weight: bold;
            color: #fff;
            background-color: $secondary;
            border-radius: 14px;
            padding: 20px 25px 20px 25px;
        }

    }

    &-container {
        display: flex;
        flex-direction: column;
        gap: 45px;
    }
}

.stats {

    /* .stats-container */

    &-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &-img{
        img{
            max-width: 80%;
            height: auto;
        }
    }
    
    &-title {
        font-weight: bold;
        font-size: 60px;
    }
    
    
    &-content {
        width: 100%;
        padding: 40px;
        display: flex;
        justify-content: space-between;
        @media(max-width:1320px)
        {
            flex-direction: column;
            gap: 50px;
        }
    }
    
    
    /* .stats-column */
    
    &-column {
        flex: 0 1 48%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        &-title{
            font-size: 28px;
        }
        @media(max-width:1320px)
        {
            flex: auto;
            gap: 50px;
        }
    }
    
    /* .stats-item */
    
    &-item {
        padding: 25px;
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: clamp(1.875rem, 1.42rem + 2.27vw, 3.125rem);
        -webkit-box-shadow: 2px 12px 73px -18px rgba(179, 179, 179, 0.85);
        -moz-box-shadow: 2px 12px 73px -18px rgba(179, 179, 179, 0.85);
        box-shadow: 2px 12px 73px -18px rgba(179, 179, 179, 0.85);
        transition: all 0.3s;
        &:hover{
            scale: 1.2;
        }
    }
    
    /* .stats-list */
    
    &-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        

        &-item
        {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media(max-width:$break480)
            {
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
            &-title{
                font-weight: bold;
                font-size: clamp(1.375rem, 1.193rem + 0.91vw, 1.875rem);
            }
            &-data{
                display: flex;
                align-items: center;
                gap: 15px;
                &-text{
                    font-size: clamp(1.125rem, 1.034rem + 0.45vw, 1.375rem);
                }
                &-img{
                    padding: 15px;
                    border-radius: 12px;
                    z-index: 1;
                    position: relative;
                    display: inline-block;
                    img{
                        z-index: 2;
                        max-width: clamp(1.563rem, 1.222rem + 1.7vw, 2.5rem);
                        min-height: clamp(1.563rem, 1.222rem + 1.7vw, 2.5rem);
                    }
                    &::after
                    {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $secondary; 
                        opacity: 0.3;
                        border-radius: 12px;
                    }
                }
            }
        }
    }
}    

.profile {

    /* .profile-container */
    
    &-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    /* .profile-title */
    
    &-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        &-text{
            font-weight: bold;
            font-size: 60px;
        }
        &-coins{
            display: flex;
            align-items: center;
            padding: 15px;
            gap: 10px;
            background-color: #e9e9e9;
            border-radius: 10px;
            &-icon{
                img{
                    max-width: 30px;
                    height: auto;
                }
            }
            &-text{
                font-size: 24px;
                font-weight: bold;
            }
        }
        @media(max-width:$break480){
            align-items: center;
            flex-direction: column;
            gap: 20px;
        }
    }
    
    /* .profile-content */
    
    &-content {
        display: flex;
        justify-content: space-between;
        @media(max-width:$break992)
        {
            flex-direction: column;
            gap: 40px;
        }
    }
    
    /* .profile-user */
    
    &-block {
        flex: 0 1 48%;
        padding: 25px;
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        -webkit-box-shadow: 2px 12px 73px -18px rgba(179, 179, 179, 0.85);
        -moz-box-shadow: 2px 12px 73px -18px rgba(179, 179, 179, 0.85);
        box-shadow: 2px 12px 73px -18px rgba(179, 179, 179, 0.85);
        transition: all 0.3s;
        &:hover{
            scale: 1.2;
        }
        @media(max-width:$break992)
        {
            flex: 1 1 100%;
        }
    }
}

.user {

    /* .user-title */
    
    &-title {
    }
    
    /* .user-info */
    
    &-info {
        display: flex;
        flex-direction: column;
        gap: 40px;
        @media(max-width:$break768)
        {
            justify-content: center;
            align-items: center;
        }
    }
    
    /* .user-image */
    
    &-image {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    
    /* .user-profilepic */
    
    &-profilepic {
        img{
            max-width: clamp(6.25rem, 5.114rem + 5.68vw, 9.375rem);
            height: auto;
        }
    }
    
    /* .user-username */
    
    &-username {
        font-weight: bold;
        font-size: 30px;
    }
    
    /* .user-data */
    
    &-data {
        display: flex;
        flex-direction: column;
        gap: 20px;
        span{
            font-weight: bold;
        }
    }
    
    /* .user-nickname */
    
    &-nickname {
    }
    
    /* .user-email */
    
    &-email {
    }
    
    /* .user-phone */
    
    &-phone {
    }
}
    

/*--------------------/MAIN--------------------*/



/*--------------------FOOTER--------------------*/



/*--------------------/FOOTER--------------------*/